{% extends "navbar.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block body %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
            <h1 class="login">Login</h1>
            <br/>
            <form method="post" action=".">
              {% csrf_token %}
              {{ form|crispy }}
                
            <br />
              <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />
              <input type="hidden" name="next" value="{{ next }}" />

              <br />

              <a class="social_oauth" href="{% url 'social:begin' 'twitter' %}"><i class="fa fa-twitter fa-4x fa-border"></i></a>
              <a class="social_oauth" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google fa-4x fa-border"></i></a>
              <a class="social_oauth" href="{% url 'social:begin' 'instagram' %}"><i class="fa fa-instagram fa-4x fa-border"></i></a>

           


            </form>
    </div>



</div>

<hr/>

<div class='row'>
<div class='col-sm-12 col-sm-offset-3 text-align-center'>
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it !" %}</a></p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register !" %}</a></p>
</div>
</div>

{% endblock body %}