
body{
    font-family: 'Permanent Marker', cursive;
    /*font-family: 'Comfortaa', cursive;*/
}

li{
    
    margin-left: -40px;
    padding: 10px;
    list-style-type: none;

}
i{  
    margin-top: 5%;
    padding: 10px;
    color: black;
}
i, li:hover{

    color: white;
}
li:hover{
    background-color: #1B95E0;
    
}
.profile{
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    margin-top: 5%;
}
.memories{
    background-color: #1B95E0;
    width: 90%;
    height: 50%;
    float: left;
    margin-top: -3%;
    margin-left: 17%;
    padding: 3%;


}
.memories i{
    color: white;
    margin: 2px;

   
}
#memories{
    float: left;
    margin-top: 10px;
    color: white;
    font-size: 20px;

}
.memories li{
    float: right;
}


p{
    color: white;
}
header > .profile{
    display: inline;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}
/* Template Bootstrap CSS */


#sidebar-wrapper {
    
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    background: lightgrey;
   
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
}
 #page-content-wrapper {
    position: relative;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.register a{
    text-align: center;
   
    
}

@media(min-width:768px) {
 
    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position:absolute;
    }

   #page-content-wrapper {
        position:absolute;
        margin-right: 0;
    }
}
/* Payment Page */

#payment-form{
    margin-top: 100px;
}

.fa-cc-stripe{
    color:#5CB85C;
}
/* Login Page */
.fa-twitter, .fa-google{
    color: black;
}
/* Create books page */

.journal{
    display: block;
    position: absolute;
    left: 20.2%;
    top: 15%;
    width: 81%;
    height: 95%;
    opacity: 0.1;
    filter: grayscale(20%);
  
   
   
}