body{
   
    background-image: url('../images/MemoryMail_MockUp.png'); 
    background-repeat: no-repeat; 
    background-size: 100%;
    font-family: 'Permanent Marker', cursive;
}
.fa-sign-in{
    color: #5872BA;
    float: right;
}
.social_oauth i{

   margin-top: 120%;
   margin-left: 50%;

}
input, .btn-primary{
    border-radius: 25px;
    
    padding: 10px;
    display: inline;
}
.btn-primary{
    margin-top: 5px;
    background-color: #5872BA;
    margin-left: 50%;
    
}
input[type="search"]{
    width: 300px;
    text-align: center;
    border: #5872BA solid 4px;

}
input[type="password"]{
    width: 300px;
    text-align: center;
    border: #5872BA solid 4px;

}
::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #5872BA;
  font-weight: bold;
  text-shadow: 1px 1px
}
.search{
    margin-bottom: 5px;
}