body{
    background-color: #1B95E0;
    font-family: 'Dosis', sans-serif;
    

}
h1{
    margin-left: 20px;
}
i{
    color: black;
}
/* Navbar */
.logo{
    margin-top: 10px;
    padding: 20px;
}
.mail-cloud{
    width: 80px;
    height: 60px;
    margin-top: -15px;
    float: right;

}
.navbar-collapse{
   float: left;
}
p{
    color: black;
}
.sr-only{
    float:right;
}
/* Picture | Middle Section */

/* Index Page */

.mockup{
    margin-top: 50px;
    width: 100%;
    border-radius: 5%;
}
.intro{
    color: white;
    font-size: 50px
}

/* Login */
.btn-primary{
    background-color: black;
}
.login{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}
.nav-navbar li{
    float: right;
}
