
{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory Mail</title>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="icon" type="image/png"  href="{% static 'favicon/favicon.ico' %}">
</head>
<body>

<!-Navbar--->



<! --- Landing Portion of Page -->

<div class="container-fluid">
    <div class='col-sm-12 col-md-12 col-lg-12 text-center'>
        <div class="row">
            <img class="mockup" src="{% static 'images/loading_screen.png' %}">
        </div>   
    </div>
    <br />
    <br />
     <div class='col-sm-12 col-md-12 col-lg-12 text-center'>
        <div class="row">
            <div class="intro-1">
                <a href="/accounts/login"><p class="login">Log In</p></a>
                <video></video>
               <p class="intro">Watch our Introduction video!</p>
               <p class="intro">MemoryMail captures and showcases email conversations between Missionaries and their families. Find out more!</p>
            </div>
        </div>   
    </div>
    <!--<div class="col-sm-6 col-md-6 col-lg-6 text-center">
        <div class="row">
            <div class="blue">Sign Up</div>
        </div>
    </div>-->

 </div>  

</body>
</html>