
{% load static from staticfiles %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory Mail</title>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" type="image/png"  href="{% static 'favicon/favicon.ico' %}">
    <link href="{% static 'fonts/lato/Lato-Regular.ttf' %}">
</head>
<body>

<!-Navbar--->



<! --- Landing Portion of Page -->

<div class="container-fluid">
    <div class='col-sm-12 col-md-12 col-lg-12'>
        <div class="row">
            <div class="intro-1">
                <a href="/dashboard"><i class="fa fa-sign-in fa-3x"></i></a>
              </div>  
               
        </div>  
              
        <div class="col-sm-4 col-sm-offset-3">
            <div class="row">  
               <form action="/" method="post">{% csrf_token %}
                      <input class="search" type="search" placeholder="username"><br>
                      <input class="search" type="search" placeholder="password">
                      <input class='btn btn-primary' type="submit" />
                      <input type="hidden" name="next" value="{{ next }}" />
                  </div> 
                </form>
            </div>
        </div>  
       
 </div>  

</body>
</html>