
{% load static from staticfiles%}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="icon" type="image/png"  href="{% static 'favicon/favicon.ico' %}">

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
   <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="mail-cloud" alt="Brand" src="{% static 'images/mail-cloud_100x82.png' %}">
      </a>
      

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'auth_logout'%}">Logout</a></li>
            <li><a class="username" href="#">{{request.user}}</a></li>
        {% else %}

             <li><a href="{% url 'registration_register' %}">Register <span class="sr-only">(current)</span></a></li>
             <li><a href="{% url 'auth_login'%}">Login</a></li>
             
       {% endif %}
              <li> <a class="twitter-share-button" href="https://twitter.com/intent/tweet"></li></a> 
              <li><a class="twitter-follow-button" href="https://twitter.com/MemoryMail">Follow @HansenShaylee</a></li>
              <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
    
                   


  
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
  </div>
</nav>
{% block content%}

{% endblock %}

{% block body %}


{% endblock body  %}

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="https://js.stripe.com/v2/"></script>-->


{% block javascript %}

{% endblock %}

{% block script %}

{% endblock %}

<!--<script>
  $(document).ready(function(){
    {% block jquery %}
    {% endblock %}
  });
</script>-->
 <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};

    if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
     
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
    return t;
    }(document, "script", "twitter-wjs"));
 </script>

 <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1531820980479355";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>
